
*.jpg
*.exe
*.txt
*.cfg
codeforces/problemset/1398D
codeforces/problemset/1398C
codeforces//contest//
cmake-build-debug
.idea
*.cmake
*.cmake
*.bin
*.cmake
*.bin
*.xml
*.cmake
cmake-build-debug/CMakeFiles/Makefile2
*.cbp
cmake-build-debug/Makefile
CMS/
TMC/
*.o
codeforces/contest/
.vscode/khung_chuong_trinh.code-snippets
*.code-snippets
*.json
